@media all and (max-width:1000px) {

}
@media all and (max-width:670px) {
  nav{
    width:100%;
    background-color: #e6ac00;
    position: sticky;
    display: flex;
    flex-direction: row;
    top:0;
  }
}
