@media all and (max-width:1000px) {

}
@media all and (max-width:670px) {
  .judul {
    font-size: 10px;
    padding: 25px 0;
  }
  .logo img{
    margin: 0;
    margin-left: 20px;
    width: 20%;
  }
  li a{
    font-size: 10px;
    padding: 13px 5px 13px 5px;
  }

  ul{
    margin-right: 13px;
  }

}
