* {
  box-sizing: border-box;
}

body {
  font-family: Quicksand, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display:inline;
}

.judul {
  background-image: url(assets/bg.jpg);
  background-size: cover;
  width: 100%;
  color: white;
  padding: 100px 0;
  font-size: 1.5em;
  text-align: center;
}
nav{
  width: 100%;
  background-color: #e6ac00;
  position: sticky;
  display: inline-block;
  top:0;
}
.logo{
  margin: 15px 0 15px 20px;
  float: left;
}
ul{
  margin: 0;
  margin-right: 20px;
  float: right;
}
li a{
  color: white;
  text-decoration: none;
  text-align: center;
  float: right;
  padding: 25px 15px 25px 15px;
}
li{
  list-style: none;
  float: right;

}
li:hover:not(.active){
  background-color: #bfbfbf;
  font-weight: bold;
}

main{
  display: flex;
  padding: 20px;
  flex-direction: row;
  overflow:auto;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
}

.content{
  width: 75%;
  flex-direction: column;
  margin-right: 5px;
  text-align: center;
}

.content p {
  font-size: 15px;
  line-height: 25px;
  text-align: left;
}

aside {
  text-align: center;
}
.myprofile img {
  width: 80%;
  border-radius: 50%;
  border: 3px ridge black;
}
.myprofile{
  width: 25%;
  flex-direction: column;
}
table {
  text-align: left;
}
td th{
  text-align: left;
}
