* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

p {
    line-height: 25px;
}

hr{
  width: auto;
}

blockquote{
  margin: 0;
}

header {
  display:inline;
}

.judul {
  background-image: url(media/bg1.jpg);
  background-size: cover;
  width: 100%;
  color: white;
  padding: 100px 0;
  font-size: 1.5em;
  text-align: center;
  animation-name: nusapenida;
  animation-duration: 20s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}
@keyframes nusapenida {
  0%   {background-image: url(media/bg1.jpg);}
  25%  {background-image: url(media/bg1.jpg);}
  50%  {background-image: url(media/angel1.jpg);}
  75%  {background-image: url(media/broken1.jpg);}
  100% {background-image: url(media/crystalbay1.jpg);}
}
nav{
  width: 100%;
  background-color: #ffbf00;
  position: sticky;
  display: inline-block;
  top:0;
}
.logo img{
  width: 10%;
  margin-left: 20px;
  padding: 10px 0;
  float: left;
  cursor: pointer;
}
ul{
  margin: 0;
  margin-right: 20px;
  float: right;
}
li a{
  color: white;
  text-decoration: none;
  text-align: center;
  float: right;
  padding: 20px 15px 20px 15px;
}
li{
  list-style: none;
  float: right;

}
li:hover:not(.active){
  background-color: #bfbfbf;
  font-weight: bold;
}

main{
  display: flex;
  padding: 20px;
  flex-direction: row;
  overflow:auto;
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   background-color: #ffffcc;
}
.container-main{
  width: 75%;
  margin: 0 10px 10px 0;
}
.content{
  flex-direction: column;
  text-align: center;
}

.content p {
  font-size: 15px;
  text-align: left;
}
article{
  text-align: center;
}
.articles{
  text-align: left;
}


aside {
  width: 25%;
  height: 30%;
  text-align: center;
}
.myprofile {
  position: static;
  border-radius: 50%;
  flex-direction: column;
  border: 3px ridge black;
}

table {
  text-align: left;
}
td th{
  text-align: left;
}

.contact-person{
  display: flex;
  text-align: left;
  flex-direction: column;
}


.gmail img, p {
  margin-right: 10px;
}

.whatsapp img, p{
  margin-right: 10px;
  margin-top: 5px;
}

.copyright {
  width: 100%;
  color: black;
  background-color: #ffbf00;
  padding: 5px 0;
}

.teks{
  font-size: 15px;
  width: 50%;
  margin: 0 40px;
  padding: 0;
}

.foto{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.ft{
  width: 25%;
}

.cardft {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 7px;
   margin: 10px 0 0 0;
   background-color: #d9d9d9;
}
